{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CoinSpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

</head>

<body>
    <nav class="navbar navbar-expand-lg py-lg-3 navbar-dark">
        <div class="container">
            <a href="{% url 'home' %}" class="navbar-brand me-lg-5">
                <img src="{% static 'images/logo.png' %}" alt="" class=" logo-dark" height="36" />
            </a>

            <div>
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item me-0">
                        <a href="{% url 'profile' %}" class="btn btn-sm btn-light rounded-pill d-none d-lg-inline-flex">
                            <i class="mdi mdi-radar me-2"></i>App
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <section class="hero-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="mt-md-4">
                        <h2 class="text-white fw-normal mb-4 mt-3 hero-title">
                            Manage your crypto and DeFi portfolio from one place !
                        </h2>
                        <p class="mb-4 font-16 text-white-50">Securely connect the portfolio you’re using to start.</p>
                        <a href="{% url 'profile' %}" class="btn btn-success">Launch App<i
                                class="mdi mdi-arrow-right ms-1"></i></a>
                    </div>
                </div>
                <div class="col-md-5 offset-md-2">
                    <div class="text-md-end mt-3 mt-md-0">
                        <img src="{% static 'images/startup.svg' %}" alt="" class=" img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="row py-4">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="mt-0"><i class="mdi mdi-infinity"></i></h1>
                        <h3>All-In-One Platform For Managing <span class="text-primary">All Your Crypto</span> and <span
                                class="text-primary">DeFi Assets</span></h3>
                        <p class="text-muted mt-2">CoinSpace supports any Ethereum, Polygon and Avalanche addresses for
                            now.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="text-center p-2 p-sm-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-wallet text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">One Dashboard for Everything</h4>
                        <p class="text-muted mt-2 mb-0">Track every asset you have from one dashboard, and stay on top
                            of your game.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="text-center p-2 p-sm-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-graph-bar text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Seamless Portfolio Management</h4>
                        <p class="text-muted mt-2 mb-0">Take a look at your total crypto investing and start taking
                            steps to improve it.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="text-center p-2 p-sm-3">
                        <div class="avatar-sm m-auto">
                            <span class="avatar-title bg-primary-lighten rounded-circle">
                                <i class="uil uil-shield-check text-primary font-24"></i>
                            </span>
                        </div>
                        <h4 class="mt-3">Quick & Secure</h4>
                        <p class="text-muted mt-2 mb-0">Getting started with CoinSpace only takes a few minutes, and
                            it's completely free and secure.
                        </p>
                    </div>
                </div>

            </div>
    </section>

    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
</body>

</html>