#popup {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    top: 1%;
    left: 0;
    right: 0;
    bottom: 0;
}

.holdings,
.transactions {
    width: 25%;
}

.picture {
    display: block;
    height: 15em;
    width: 15em;
    margin-bottom: 1em;
}