{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>CoinSpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link href="{% static 'css/vendor/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/coinspace.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" id="app-style" />
</head>

<body class="loading" data-layout-color="dark" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <div class="wrapper">
        <div class="leftside-menu">
            <a href="" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="{% static 'images/logo.png' %}" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="{% static 'images/logo_sm.png' %}" alt="" height="16">
                </span>
            </a>

            <a href="" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="{% static 'images/logo_sm_dark.png' %}" alt="" height="16">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar>
                <ul class="side-nav">
                    <li class="side-nav-title side-nav-item">Tracker</li>

                    <li class="side-nav-item">
                        <a href="{% url 'view-holdings' %}" class="side-nav-link">
                            <i class="uil-bitcoin-circle"></i>
                            <span>View holdings</span>
                        </a>
                    </li>
                    <li class="side-nav-item">
                        <a href="{% url 'connect-wallet' %}" class="side-nav-link">
                            <i class="uil-link"></i>
                            <span>Connect wallet</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-page">
            <div class="content">
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="notification-list">
                            <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                                <i class="dripicons-gear noti-icon"></i>
                            </a>
                        </li>

                        <li class="dropdown notification-list">
                            {% if request.user.is_authenticated %}
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-image"
                                        class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-username text-center">{{request.user.username}}</span>
                                    <span class="account-email">{{request.user.hidden_email}}</span>
                                </span>
                            </a>

                            <div
                                class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                                <div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>
                                <a href="{% url 'profile' %}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>Account</span>
                                </a>
                                <a href="{% url 'logout' %}" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                            {% else %}
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="dripicons-user noti-icon"></i>
                            </a>
                            {% endif %}
                        </li>
                    </ul>

                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>

                    <div class="app-search dropdown d-none d-lg-block">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control dropdown-toggle" placeholder="Search..."
                                    id="top-search">
                                <span class="mdi mdi-magnify search-icon"></span>
                                <button class="input-group-text btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                    </div>

                    <div id="popup">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="{{ message.tags }}" role="alert">
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                            <i
                                class="dripicons-{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}information{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}checkmark{% else %}wrong{% endif %} me-2"></i>
                            <span>{{ message }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    </div>

    <div class="end-bar">
        <div class="rightbar-title">
            <a href="javascript:void(0);" class="end-bar-toggle float-end">
                <i class="dripicons-cross noti-icon"></i>
            </a>
            <h5 class="m-0">Settings</h5>
        </div>

        <div class="rightbar-content h-100" data-simplebar>
            <div class="p-3">
                <div class="alert alert-warning" role="alert">
                    <strong>Customize</strong> the overall color scheme, sidebar menu, etc.
                </div>

                <h5 class="mt-3">Color Scheme</h5>
                <hr class="mt-1" />

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light"
                        id="light-mode-check">
                    <label class="form-check-label" for="light-mode-check">Light Mode</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark"
                        id="dark-mode-check" checked>
                    <label class="form-check-label" for="dark-mode-check">Dark Mode</label>
                </div>

                <h5 class="mt-4">Width</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check" checked>
                    <label class="form-check-label" for="fluid-check">Fluid</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
                    <label class="form-check-label" for="boxed-check">Boxed</label>
                </div>

                <h5 class="mt-4">Left Sidebar</h5>
                <hr class="mt-1" />
                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
                    <label class="form-check-label" for="default-check">Default</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check" checked>
                    <label class="form-check-label" for="light-check">Light</label>
                </div>

                <div class="form-check form-switch mb-3">
                    <input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
                    <label class="form-check-label" for="dark-check">Dark</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check"
                        checked>
                    <label class="form-check-label" for="fixed-check">Fixed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="condensed"
                        id="condensed-check">
                    <label class="form-check-label" for="condensed-check">Condensed</label>
                </div>

                <div class="form-check form-switch mb-1">
                    <input class="form-check-input" type="checkbox" name="compact" value="scrollable"
                        id="scrollable-check">
                    <label class="form-check-label" for="scrollable-check">Scrollable</label>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary" id="resetBtn">Reset to Default</button>

                    <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/"
                        class="btn btn-danger mt-3" target="_blank"><i class="mdi mdi-basket me-1"></i> Purchase Now</a>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/coinspace.js' %}"></script>
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'js/vendor/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-jvectormap-world-mill-en.js' %}"></script>
</body>

</html>